.pic{
    background-image: linear-gradient(
            rgba(255,255,255,0),
            rgba(255,255,255,.1),
            rgba(255,255,255,.15),
            rgba(255,255,255,.2),
            rgba(255,255,255, .9)
    );
    margin-top:40px;
    /*font-size: 0;*/
}
.pic img{
    width: 100%;
    height: 230px;
    max-width: 100%;
    max-height: 100%;
    mix-blend-mode: overlay;
    background-size: cover;
    opacity: .86;
}

.head{
    padding: 8px 20px;
    display: flex;
}
.head-img img{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    opacity: .75;
    box-shadow: 0 0 4px #86d4ff;
}
.head-font{
    margin-left: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}
.head-font .font-top{
  width: 100%;
    display: flex;
    justify-content: space-around;
}
.font-top .font{
    font-size: 12px;
    margin-top:4px;
}
.font .num{
  
    text-align: center;
}
/* .font-bottom{
    text-align: center;
    padding-top: 10px;
}
.font-bottom .van-button{
    border-radius: 22px;
    font-size: 12px;
    padding: 6px 90px;
    height: 100%;
} */
