.find-row-mv-detail{
    margin-top:44px;
    height: 100%;;
}
.video{
    width: 90%;
    height: 190px;
    margin:0 auto 20px;
    background-color: #77ffc9;
    border-radius: 10px;
}
.video video{
    width: 100%;
    height: 190px;
}
.title{
    width: 90%;
    margin:0 auto 10px;
}
.title .title-name{
    font-weight: bold;
    display: flex;
    align-items: center;
}
.detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail .author,.detail .playcount,.detail .publishtime,.message{
    font-size:12px;
    color: #8c939d;
}
.comment{
    width: 90%;
    margin:0 auto 10px;
}
.comment .count{
    font-weight: bold;
    margin-bottom: 14px;
}
.comment .comment-block{
    border: 1px solid #d4d5d3;
    border-radius: 10px;
    padding: 6px 16px;
}
.comment-item{
    border-bottom: 1px solid #eaede8;
    padding:4px 4px;
}
.comment-item .img{
    display: flex;
    border-radius: 50%;
    position: relative;
}
.comment-item .img img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.comment-item .img .commenter{
    margin-left:10px;
    font-size:14px;
}
.comment-item .img .commenter .time{
    font-size: 12px;
    color: #8c939d;
}
.comment-item .img .like{
    position:absolute;
    right: 6px;
    top: 6px;
    display: flex;
}
.comment-item .img .like img{
    width: 14px;
    height: 14px;
}
.comment-item .img .like .count{
    font-size: 12px;
    color: #80868e;
    margin-left: 2px;
    font-weight: normal;
}
.comment-item .item-content{
    font-size: 12px;
    margin-top:8px;
    margin-left: 42px;
}
.no-comment,.bottom .content{
    font-size: 14px;
    color: #8c939d;
}
.bottom{
    margin-top:4px;
}
.bottom .content{
    text-align: center;
}